{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Book My Tickets</title>
    <link rel="stylesheet" type="text/css" href="{% static 'master/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'master/css/bookShow.css' %}"/>
</head>
<body style="background-color: #ffffff;color: black">
<nav class="navbar navbar-default" style="margin-bottom:0;border-radius: 5px">
    <div class="container-fluid" style="background-color: #192030;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="{% static 'core/images/logo2.png' %}" height="80px">
            {#            <a class="navbar-brand" href="#">Book My Tickets</a>#}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        {#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
        {#            <ul class="nav navbar-nav">#}
        {#                <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>#}
        {#            </ul>#}
        {##}
        {#        </div><!-- /.navbar-collapse -->#}
    </div><!-- /.container-fluid -->
</nav>

<div class="sub_nav" style="height: 25px;background-color: #3b455e;margin-bottom: 5px;border-bottom-left-radius: 40px;border-bottom-right-radius: 40px"></div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for image in movie %}
            {% if forloop.counter == 1 %}
                <div class="item active">
                    {% if image.banner %}
                        <img src="{{ image.banner.url }}">
                    {% else %}
                        <img src="{% static 'movie/images/no-image.png' %}" alt="Chania">
                    {% endif %}
                </div>
            {% else %}
                <div class="item">
                    {% if image.banner %}
                        <img src="{{ image.banner.url }}" alt="Chania">
                    {% else %}
                        <img src="{% static 'movie/images/no-image.png' %}" alt="Chania">
                    {% endif %}
                </div>
            {% endif %}


        {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


{% comment %}
---------------------- CARD VIEW FOR MOVIES----------------------------------------
{% endcomment %}
<div class="row" style="margin-left:55px ">
    {% for movie in movie %}
        <a href="{% url 'core:movie_detail' movie.pk %}" style="text-decoration: none;color: black">
        <div class="col-sm-6" style="margin-right: 40px;margin-left:40px;margin-top:20px;max-width: fit-content;width: fit-content">
            <div class="card">
                <div class="card-body">
                    <div style="display: flex;">
                        <div>
                            <img src="{% if not movie.image %}
                    {% static 'movie/images/no-image.png' %}
                    {% else %}{{ movie.image.url }}
                    {% endif %}" width="220" height="320" style="border-radius: 13px">
                        </div>
                    </div>
                    <div>
                        <h2 class="card-title">{{ movie.name}}</h2>
                        <h5 class="card-title">{{movie.tags}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

</body>
<script type="text/javascript" src="{% static 'master/js/jquery.js' %}">
</script>
<script type="text/javascript" src="{% static 'master/js/bootstrap.js' %}">
</script>
<script type="text/javascript" src="{% static 'master/js/bookShow.js' %}">
</script>
</html>